In [3]:
import re
import pandas as pd
import numpy as np
import math
import os

In [15]:
rdataset_type = "atac"
input_dir = "ATAC/correlation_files/" + rdataset_type + "/"
output_dir = "ATAC/outputs/"
samples_to_exclude =["EE87920", "EE87921",
    "EE87947", "EE87959", "EE87963", "EE87998", 
    "EE88009", "EE88015", "EE88020", "EE88025", 
    "EE88027", "EE88082", "EE88093", "EE88127", 
    "EE88136", "EE88141", "EE88152", "EE88164", "EE87892", "EE88269"]

In [16]:
meta_dat = pd.read_csv("Cristiano_samplemap.tsv", sep = "\t")
meta_dat = meta_dat[["sample", "tfx", "Patient Type", "Gender"]]
meta_dat = meta_dat.rename(columns={"Patient Type": "status", "Gender" : "gender"})

      sample       tfx             status gender
0    EE87865  0.252800  Colorectal Cancer      F
1    EE87866  0.009116  Colorectal Cancer      M
2    EE87867  0.021040  Colorectal Cancer      M
3    EE87868  0.012040  Colorectal Cancer      F
4    EE87869  0.007359  Colorectal Cancer      F
..       ...       ...                ...    ...
533  EE87915  0.012820     Gastric cancer      M
534  EE87916  0.018370     Gastric cancer      M
535  EE87917  0.013690     Gastric cancer      M
536  EE87918  0.018240     Gastric cancer      M
537  EE87919  0.012830     Gastric cancer      F

[538 rows x 4 columns]

In [17]:
# Create the empty DataFrame
columns = ["sample", "status", "tfx", "gender", "cell_type", "correlation", "rank"]
empty_df = pd.DataFrame(columns=columns)

for file in os.listdir(input_dir):
    sample = file[0:7]
    if sample not in samples_to_exclude:
        filename = input_dir + file
        data = pd.read_csv(filename)
        data["sample"] = sample
        data = data.rename(columns={"correlation_mean": "correlation", "rank_mean" : "rank"})
        data_merged = pd.merge(data, meta_dat, on = "sample")
        data_merged = data_merged[columns]
        empty_df = pd.concat([empty_df, data_merged], ignore_index = True)

/tmp/ipykernel_422842/3862792025.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  empty_df = pd.concat([empty_df, data_merged], ignore_index = True)

,sample,status,tfx,gender,cell_type,correlation,rank
0,EE88247,Lung Cancer,0.06508,M,Mast,-0.280656,1
1,EE88247,Lung Cancer,0.06508,M,T.lymphocyte.2..CD4..,-0.276613,2
2,EE88247,Lung Cancer,0.06508,M,Natural.Killer.T,-0.276276,3
3,EE88247,Lung Cancer,0.06508,M,T.Lymphocyte.1..CD8..,-0.274458,4
4,EE88247,Lung Cancer,0.06508,M,Naive.T,-0.271145,5
...,...,...,...,...,...,...,...
57493,EE87867,Colorectal Cancer,0.02104,M,Oligo.Precursor,-0.127926,107
57494,EE87867,Colorectal Cancer,0.02104,M,GABA.1,-0.125991,108
57495,EE87867,Colorectal Cancer,0.02104,M,Glutamatergic.2,-0.122824,109
57496,EE87867,Colorectal Cancer,0.02104,M,Glutamatergic.1,-0.116171,110
57497,EE87867,Colorectal Cancer,0.02104,M,Astrocyte.2,-0.096406,111

In [18]:
empty_df["sample"].nunique()

518

In [19]:
empty_df.to_csv(output_dir + rdataset_type + "_combined_518_FCC.csv", index=False)